<p class="amount">There are <%=@contacts.length%> contacts</p>
<ul class="list_of_contacts"><%@contacts.each do |contact|%>
<li class="contact_info">
<%=contact.first_name%>
<%=contact.last_name%>
<%=contact.email%>
<%=contact.note%>
<br>
<a class="box1"href="">Edit</a>|<a class="box2"href="">Delete</a></li>

<% end %>
</ul>
